/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px;
}

/* Fonts, classes are so I can reuse the styles on a variety of elements */
.merriweather { font-family: 'Merriweather', serif; }
      .oswald { font-family: 'Oswald', sans-serif; }
        .lato { font-family: 'Lato', sans-serif; }

/* Colors */
/* Dark yellow: #f2ff00 */
/* Lighter yellow: #ffd900 */
/* Light gray: #adadad */
/* Medium gray: #878787 */

/* Background Image */
/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg */



a {
  text-decoration: none;
}

.startupheader {
  justify-content: start;
  font-family: 'lato';
  background-color: black;
  color: yellow;
  display: flex;
  justify-content: space-between;
  border-bottom: yellow solid 5px;
}

.startupheader h1 {
  color: yellow;
  background-color: black;
  margin-left: 5px;
}
.startupheader li {
  display: inline-block;
  gap: 10px; 
  color: black;
}

.startupheader li:hover a{
  color: yellow; 
}

.startupheader li a{
  color: white; 
}

a.logo {
  color: yellow;
}

.topbar {
  background-color: #adadad;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 60px;
  font-size: 29px;
  padding-top:10px;
  padding-bottom: 10px;
  }

.navheader {
  display:flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 5px;
  
}

.navheaderitems {
  gap: 10px;
  color: black;
}

.bottomcontainer {
  display: flex;
  margin: 10px 0;
  padding: 2%;
  font-family: 'Merriweather', serif;
  gap: 10px;
  align-items:stretch;
  flex-grow: 1;
}

.find {
  flex:1;
  height: 35px;
  background-color: #adadad;
  font-family: 'oswald';
  font-size: 24px;
  border-bottom: 2px solid #878787;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px 30px;
  color: black;

}

.massivepicture {
  align-items: center;
  background-size: cover;
  min-height: 60%;
  display:flex;
  justify-content: flex-end;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg")
}

.meetyourmatch {
  margin: 25px 25px 25px 0;
  padding: 25px;
  width: 380px;
  height: 230px;
  padding: 4%;
  box-shadow: 0 0 5px rgb(0 0 0 / 75%);
  background-color: rgba(255,255,255,0.9);
  font-family: 'lato';
}

.yellowbutton {
  height: 50px;
  background-color:#f2ff00 ;
  border-bottom: 2px solid #ffd900;
  font-family: 'oswald';
  font-size: 24px;
  width: 800px;
  text-align: center;
  text-decoration: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  text-transform:uppercase;
  color: black;
}

.finallythefooter {
  background-color: black;
  color: white;
}

footer {
  display: block;
  font-family: 'lato';
  padding: 20px 25px;
}

.bottombar {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.crossout {
  text-decoration: line-through;
}
.underline {
  text-decoration:underline;
  text-decoration-color: yellow;
}

aside {
  display: block;
}

.linething {
  border-right: 1px solid lightgray;

  
}

.navheaderitems .newfont a{
  font-family:'oswald';
}