body {
    font-family: sans-serif;
    color: black;
    background: #F6F6F6;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    float: right;
    margin: 5px;
}

th{
    background-color: #222222; 
    color: white;  
    padding: 10px;
}

td {    
    background-color: #eeeeee;
    padding: 10px;
}
header {
    border-top: 5px solid #222222;
    padding: 0 100px;
}
article {
    border-bottom: 5px solid #222222;
    padding: 0 100px;
}
h1 {
    
    font-size: 35px
}