
.exerciseFooter, .exerciseMain, .exerciseHeader {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-bottom: 10px;


}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;

}

.exerciseHeaderNav {
    grid-template-columns: 5fr;
    grid-template-rows: 1fr;

}

.exerciseHeaderNav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;

}

.exerciseHeaderNav ul li {


}


/* Main */

.exerciseMain {
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
   

}

.exerciseMainLeftNav {
    display: grid;
    margin-right: 10px;


}

.exerciseMainContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-end: span 4;
    gap: 10px;


}

.exerciseMainContent > * {
    margin: 0;
}

.exerciseMainContentBanner {
    grid-column-end: span 4;
    height: 50px;

}

.exerciseMainContentSubBanner {
    grid-column-end: span 3;
    height: 50px;

}

.exerciseMainContentBlock {

}